*, *::before, *::after {
    box-sizing: border-box;
}


* {
margin: 0;
padding: 0;
}


body {
line-height: 1.5;
-webkit-font-smoothing: antialiased;
font-family: "Lato", sans-serif;
font-weight: normal;
background: rgb(31, 31, 31);
}


input, button, textarea, select {
font: inherit;
}


.container {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}


.container button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid rgb(46, 46, 46);
    outline: remove;
    background: rgba(43, 43, 43, 0.75);
    color: orange;
}


.container [data-number] {
    color: white;
}


.container button:hover {
    background: rgba(255,255,255,.9);
}


.span-two {
    grid-column: span 2;
}


.output {
    grid-column: 1 / -1;
    background: rgb(49, 49, 49);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}


.output .previous-operand {
    font-size: 1.5rem;
    color: rgba(255,255,255,.75);
}


.output .current-operand {
    font-size: 2.5rem;
    color: white;
}